<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room List</title>
</head>
<body>
    <h1>Room List</h1>
    <ul>
        {% for room in rooms %}
            <li>{{ room.name }} - {% if room.available %}Available{% else %}Not Available{% endif %}</li><a href="{% url 'delete_room' room.id %}">Delete</a></li>
        {% endfor %}
    </ul>
    <li><a href="{% url 'add_room' %}">add</a></li>
    <li><a href = "{% url 'booking_create' %}">book</a></li>
    <li><a href = "{% url 'booking_list' %}">booked list</a></li>
</body>
</html>
